<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <h1>{{title}}</h1>
</nav>

<section>
<div class="show">
    <ngx-arc-text [text]="text" [class]="class" [arc]="arc" [direction]=direction #letters></ngx-arc-text>
  </div>

  <div class="content">
    <div class="content-row">

      <div class="form-group">
        <label>Text</label>
        <input [value]="text" (input)="text = $event.target.value || ''" type="text">
      </div>
      <div class="form-group">
        <label>Arc</label>
        <input [value]="arc" (input)="arc = $event.target.value || ''" type="number">
      </div>

    </div>
    <div class="content-row">
      <div class="form-group">
        <label>Text</label>
        <select class="custom-select" [(ngModel)]="class" (change)=updateLetters()>
          <option value="" disabled>Choose your font-family</option>
          <option *ngFor="let class of classes" [value]="class.value" >{{class.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Text</label>
        <select class="custom-select" [(ngModel)]="direction" (change)=updateLetters()>
          <option value="" disabled>Choose the direction</option>
          <option *ngFor="let direction of directions" [value]="direction.value">{{direction.name}}</option>
        </select>
      </div>
    </div>
  </div>
</section>




